/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>

#define BASE        0
#define ARROW       1
#define FUNC        2

/ {
  chosen {
      zmk,kscan = &kscan0;
      zmk,matrix-transform = &default_transform;
  };

  keymap {
    compatible = "zmk,keymap";

    default_layer {
      bindings = <
                    &to ARROW   &kp N3    &kp N3
                    &kp N4   &rgb_ug RGB_SAD     &rgb_ug RGB_HUD
      >;
    };

    arrow_layer {
        display-name = "ARROW";
      bindings = <
                    &to FUNC   &bt BT_CLR    &kp N2
                    &kp N4   &kp A     &kp N6
      >;
    };

    function_layer {
        display-name = "FUNC";
      bindings = <
                    &to BASE   &kp B    &kp N3
                    &kp N4   &kp N5     &kp N6
      >;
    };

  };
};
